

.cardcontainer{
    width: 100vw;
 
    overflow-x: hidden;
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;

    background-color: beige;
}








.btnspace{
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    background-image: linear-gradient(to right, #19355f, #1b3f72, #1c4985, #1d5399, #1d5dad);
}

.cardbody{
    width: 250px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(49, 46, 47, 0.284);
    padding: 10px;
}
.cardbody:hover{
border: 2px solid;
}


.cardbody img{
    width: 100%;
    height: 200px;

}


.btn{
    margin: 20px;
    padding: 10px 20px;
    border: 3px solid;
    border-radius: 3px;
}


.fakediv{
    display: flex;
    gap:10px ;

}

.fakecard{
    width: 250px;

    cursor: pointer;
    
    border-radius: 5px;

    padding: 10px;
    background-color: rgba(128, 128, 128, 0.356);
}

.fakecard .img{
    width: 100%;
    height: 200px;
    background-color: white;

}

.fakecard p{
    width: 100%;
    background-color: white;
    height: 50px;
    margin: 5px;
}


