*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#header1{
  height: 110px;
  background: burlywood;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 1px solid black;
}

#header1 .imgdiv{
  height: 100%;
  margin: -20px;
  cursor: pointer;
  overflow: hidden;
}

#header1 img{
  height: 100%;
  
}
.imgdiv :hover{

  transform: scale(1.2);
}

#header1 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


.cardcontainer{
  width: 90%;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;

  background-color: beige;
}








.btnspace{
  display: flex;
  justify-content: space-between;
  /* border: 2px solid; */
  background:#e9c46a;
}

.cardbody{
  width: 250px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(49, 46, 47, 0.284);
  padding: 10px;
}
.cardbody:hover{
border: 2px solid;
}


.cardbody img{
  width: 100%;
  height: 200px;

}


.btn{
  margin: 20px;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 10px;
}
.searchfield{
  margin: 20px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;

}
.searchfield .inputfield{
  height: 100%;
  border: none;
  outline: none;
 
}
.searchfield .searchbtn{
  height: 100%;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  border: none;
}

.fakediv{
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap:20px ;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap ;

}

.fakecard{
  width: 250px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(49, 46, 47, 0.284);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
 
  
}

.fakecard .img{
  width: 100%;
  height: 200px;
 
  background-color: white;

}

.fakecard p{
  width: 100%;
  background-color: white;
  height: 50px;
  border-radius: 5px;

}



.aboutheading{
  background:#e9c46a;
  padding: 5px 20px;
}
.userclass{
  border: 1px solid black;
  margin:5px;
 padding: 10px;
  width: 20%;
  background-color: beige;
}


